h1{
    text-align: left;
    margin-left: 8%;
    margin-top: 1%;
}

p{
    text-align: left;
}
  
  form {
    padding: 1em;
    background: #cdd4d6; 
    border: 1px solid #c584c0;
    border-radius: 10px;
    margin-top: 0.5rem;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-left: 5%;
  }
  
  form button {
    background: rgb(223, 169, 169);
    padding: 0.5em;
    border-radius: 5px;
    margin-right: 5%;
    /* float: right; */
   }
  form button:hover {
    background: rgb(196, 107, 159);
  }
    
 input {
    margin-bottom: 0.5rem;
    display: block;
    padding: 10px;
  } 
