<div id="bg">

    <h1>Sign-up</h1>

    <div class="card-container">

        <img id="profile-img" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b773941b-caf9-47a6-b35f-00ad72e8fbc3/d6crdga-393f357a-80a4-4f29-9de6-18504c237c12.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYjc3Mzk0MWItY2FmOS00N2E2LWIzNWYtMDBhZDcyZThmYmMzXC9kNmNyZGdhLTM5M2YzNTdhLTgwYTQtNGYyOS05ZGU2LTE4NTA0YzIzN2MxMi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.8wudxfp7eMS-KRTzocJcbRGsjCOm66wAkLquNPU5uBo" class="profile-img-card" />

        <form  name="itemForm" (ngSubmit)=submit()>

            <div class="form-group">
                <label>Usuario </label>
                    <input type="text" class="form-control" name="username" class="textBox"/>
            </div>

        <div class="form-group">
            <label for="password">Password </label>
                <input type="password" class="form-control" name="password"  class="textBox"/>
            
        </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" class="buttonform">
                    Login
                </button>
            </div>

        </form>

    </div>
    
</div>