<div id="bg">
    <h1>crear Persona</h1>

    <div class="datosPersona">
                
        <form [formGroup]='personaForm'>

            <div id="margenes">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                        <input matInput type="text" formControlName="nombre" class="textBox">          
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label >Apellido</mat-label>
                        <input matInput type="text" formControlName="apellido" class="textBox">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Edad</mat-label>
                    <input matInput type="int" formControlName="edad" class="textBox">
                </mat-form-field>

           </div>

            <div class="enviar">
                <!-- <button type="submit" mat-raised-button class="buttonform">Guardar</button> -->
                <button mat-raised-button (click)="enviar()">Enviar</button>
            </div>
        </form>
       
    </div>
</div>
